{% extends "base.html" %}
{% set active_page = "blog" %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead">
    <img src="/static/mastheadImage_01.jpg" width="100%" height="50px">
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="{{url_for('coronaVaccine')}}">
            <h2 class="post-title">
              Coronavirus Vaccines
            </h2>
            <h3 class="post-subtitle">
              Pfizer or Moderna? Which company should you bet on in the corona virus vaccine race?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on , 2020</p>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="{{url_for('ValueInCrypto')}}">
            <h2 class="post-title">
              Value Investing and Cryptocurrency
            </h2>
            <h3 class="post-subtitle">
              Is value investing possible in the field of cryptocurrency?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on August 26, 2020</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}
