{% extends "base.html" %}
{% set active_page = "blog" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="blog_heading">
        <h3>Random Thoughts on the Market</h3>
    </div>
    <div class="blog_page">
        <h1>Value Investing and Cryptocurrency</h1>
        <p>Written by: Zack | zack@randomstock.net</p>

        <p><b>Is value investing possible in the field of cryptocurrency?</b> Several of my friends have made a lot of money in cryptocurrency,
        but I have always stayed away due to a lack of understanding. I've always believed in the <a href="https://www.investopedia.com/articles/basics/07/grahamprinciples.asp">value investors</a>
        playbook: find an undervalued asset (stock, bond, business, property) and buy it. This paradigm doesn't seem to have a parallel
        in cryptocurrency despite my best efforts to find one.</p>
        <p><em>How do you establish a value for a coin?</em> This has been my biggest stumbling block. Some businesses in which I have understanding
        (Petrol, Chemical Manufacturing, Real Estate, etc.) are more straight forward in this matter. A look at a business <a href="https://www.sec.gov/edgar/searchedgar/companysearch.html">balance sheet</a>
        can give you a lot of insight on its physical assets, cash-on-hand, intangible assets, as well as any insider trading activity. All this information must be correct
        under penalty of law.
        <p><em>Where can you find such information for cryptocurrencies such as BitCoin?</em> <a href="https://medium.com/coinbundle/the-role-of-value-investing-in-crypto-3b3d539fa2ae">People</a> often point to <a href="https://bitcoin.org/bitcoin.pdf">white papers</a> as a foundation of value for bitcoin and other cryptocurrencies.
        After reading bitcoins white pages, I feel the white pages outline the technological advancements of block chain, but fall short of demonstrating the
        value of bitcoin itself. If the white pages outline of block chain technology denotes bitcoins value, then that implies all other coints created on using the
        same or similar technology should be equal in value. </p>
        <p><em>If a company spends X amount of energy to produce a product, does that product automatically carry the value of the energy used to create it?</em> I have heard some <a href="https://www.investopedia.com/news/do-bitcoin-mining-energy-costs-influence-its-price/">say</a> that the value of bitcoin is tied to the energy used to create it.
        This argument does not seem logical to me, according to this principle, if the energy is produced cheaply via a <a href="https://www.businessinsider.com/photos-iceland-bitcoin-mine-genesis-mining-cloud-2015-8?r=UK&IR=T/">renewable source</a>
        , we should see the price of bitcoin and other cryptocurrencies slide. We have not seen the prices slide, we have seen them increase</p>

        <p>-Zack</p>
        {% if rows %}
            {% for row in rows %}
                <div class="blog_comment rounded">
                    <p ><b>{{row[3]}}</b> {{row[4]}}<br>
                    {{row[2]}}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="container">
            <form action="/blog" method="post">
                <div class="form-group">
                    <label for="Comment">Comment:</label>
                        <textarea class="form-control" rows="5" name="comment" id="Comment"></textarea>
                </div>
                <button class="btn btn-primary" style="background-color: #295fa6" type="submit">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}