{% extends "base.html" %}
{% set active_page = "blog" %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Page Header -->
  <header class="masthead">
    <img src="/static/mastheadImage_01.jpg" width="100%" height="50px">
  </header>

  <!-- Main Content -->
<div class="container">
   <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('Opportunity')}}">
            <h2 class="post-title">
              Investment Opportunities Awaiting Your Attention
            </h2>
            <h3 class="post-subtitle">
              One man's crash is another mans treasure
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Bilal</a>
            on November 04, 2020</p>
      </div>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('Savings')}}">
            <h2 class="post-title">
              Hitting Your Savings Goals Faster
            </h2>
            <h3 class="post-subtitle">
              Save for something big and grow your savings
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Bilal</a>
            on October 28, 2020</p>
      </div>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('ExpectedValue')}}">
            <h2 class="post-title">
              Expected Value in Investing
            </h2>
            <h3 class="post-subtitle">
              Basic odds calculations to guarantee a long term return
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on October 18, 2020</p>
      </div>
        <hr>
    </div>
  </div>
   <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('PDC')}}">
            <h2 class="post-title">
              Precision Drilling Corporation
            </h2>
            <h3 class="post-subtitle">
              Buy $1 for 10 cents
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on October 8, 2020</p>
      </div>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('thirteenf')}}">
            <h2 class="post-title">
              How to Trade Like a Pro: The 13F Form
            </h2>
            <h3 class="post-subtitle">
              The 13F Form, What it is and how to use it
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on September 30, 2020</p>
      </div>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('TSLAshort')}}">
            <h2 class="post-title">
              TSLA: A Fool's Buy
            </h2>
            <h3 class="post-subtitle">
              Everyone's screaming buy! Here's why you should sell
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on September 23, 2020</p>
      </div>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <a href="{{url_for('randomness')}}">
            <h2 class="post-title">
              Random Stock Generator
            </h2>
            <h3 class="post-subtitle">
              Why use a random stock generator?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on September 16, 2020</p>
      </div>
        <hr>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="{{url_for('coronaVaccine')}}">
            <h2 class="post-title">
              Coronavirus Vaccines
            </h2>
            <h3 class="post-subtitle">
              Pfizer or Moderna? Which company should you bet on in the corona virus vaccine race?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on September 7, 2020</p>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
          <a href="{{url_for('ValueInCrypto')}}">
            <h2 class="post-title">
              Value Investing and Cryptocurrency
            </h2>
            <h3 class="post-subtitle">
              Is value investing possible in the field of cryptocurrency?
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">zack</a>
            on August 26, 2020</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
{% endblock %}
