{% extends "base.html" %}
{% set active_page = "analysis" %}

{% block head %}
{% endblock %}

{% block body %}
<div></div>
<br>

exchange = <b><div id="exchange">{{exchange}}</div></b><br>
symbol = <b><div id="symbol">{{symbol}}</div></b>
    One Year Target Estimate = <div id="oneYearTargetEst">{{oneYearTargetEst}}</div>
    Fifty Two Week Range = <div id="fiftyTwoWeekRange">{{fiftyTwoWeekRange}}</div>
    Ask = <div id="ask">{{ask}}</div>
    Average Volume = <div id="averageVolume">{{averageVolume}}</div>
    beta = <div id="beta">{{beta}}</div>
    Bid = <div id="bid">{{bid}}</div>
    Days Range = <div id="daysRange">{{daysRange}}</div>
    EPS = <div id="EPS">{{EPS}}</div>
    Earnings Date = <div id="earningsDate">{{earningsDate}}</div>
    Expected Dividend Date = <div id="exDividendDate">{{exDividendDate}}</div>
    Forward Dividend and Yield = <div id="forwardDividendAndYield">{{forwardDividendAndYield}}</div>
    Market Cap = <div id="marketCap">{{marketCap}}</div>
    Open = <div id="open">{{open}}</div>
    P/E Ratio = <div id="peRatio">{{peRatio}}</div>
    Previous Close = <div id="previousClose">{{previousClose}}</div>
Quote Price = <b><div id="quotePrice">{{quotePrice}}</div></b>
    Volume = <div id="volume">{{volume}}</div>


{% endblock %}

