{% extends "base.html" %}
{% set active_page = "analysis" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container dataFrame">

    <div class="d-flex justify-content-around">
        <div class="data">Exchange =  <b><div id="exchange">{{exchange}}</div></b></div>
        <div class="data">Symbol =  <b><div id="symbol">{{symbol}}</div></b></div>
    </div>

    <div class="d-flex justify-content-around">
        <div class="data"><a href="https://www.investopedia.com/terms/o/open.asp">Open</a> = <b><div id="open">{{open}}</div></b></div>
        <div class="data">Previous Close = <b><div id="previousClose">{{previousClose}}</div></b></div>
        <div class="data">Quote Price = <b><div id="quotePrice">{{quotePrice}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/v/volume.asp">Volume</a> = <b><div id="volume">{{volume}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/m/marketcapitalization.asp">Market Cap</a> = <b><div id="marketCap">{{marketCap}}</div></b></div>
    </div>


    <div class="d-flex justify-content-around">
        <div class="data"><a href="https://www.investopedia.com/terms/b/beta.asp">beta</a> = <b><div id="beta">{{beta}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/b/bid.asp">Bid</a> = <b><div id="bid">{{bid}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/a/ask.asp">Ask</a> (USD) = <b><div id="ask">{{ask}}</div></b></div>
        <div class="data">Days Range (USD) = <b><div id="daysRange">{{daysRange}}</div></b></div>
    </div>

    <div class="d-flex justify-content-around">
        <div class="data">Earnings Date = <b><div id="earningsDate">{{earningsDate}}</div></b></div>
        <div class="data">Expected <a href="https://www.investopedia.com/terms/d/dividend.asp">Dividend</a> Date = <b><div id="exDividendDate">{{exDividendDate}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/f/forward-dividend-yield.asp">Forward Dividend and Yield</a> = <b><div id="forwardDividendAndYield">{{forwardDividendAndYield}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/e/eps.asp">EPS</a> = <b><div id="EPS">{{EPS}}</div></b></div>
        <div class="data"><a href="https://www.investopedia.com/terms/p/price-earningsratio.asp">P/E Ratio</a> = <b><div id="peRatio">{{peRatio}}</div></b></div>
    </div>

    <div class="d-flex justify-content-around">
        <div class="data">One Year Target Estimate (USD) = <b><div id="oneYearTargetEst">{{oneYearTargetEst}}</div></b></div>
        <div class="data">Fifty Two Week Range (USD) = <b><div id="fiftyTwoWeekRange">{{fiftyTwoWeekRange}}</div></b></div>
        <div class="data"><a href="https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/average-volume">Average Volume</a> = <b><div id="averageVolume">{{averageVolume}}</div></b></div>
    </div>

</div>

<form>
  <div class="form-group symbolInput">
      <input type="text" class="form-control" id="symbolInput" placeholder="Enter Symbol">
  </div>
  <div class="mybutton">
    <button type="submit" class="btn btn-primary" style="background-color: #295fa6">Submit</button>
  </div>
</form>

{% endblock %}

