{% extends "base.html" %}
{% set active_page = "crypto" %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="result">
    ACT Symbol <b id="symbol">{{symbol}}</b><br>
    Company Name <b id="company">{{stock}}</b><br>
    Listed On <b> {{exchange}}</b><br>
    <a href="https://coinmarketcap.com/currencies/{{lookup}}">Crypto Quote</a>
    <br>
    <br>
    <br>
    <em>"{{stockquotefinal}}"</em><br>
    -{{quoteauthorfinal}}

</div>
<div class="mybutton">
    <a href="{{url_for('crypto')}}"><button style="background-color: #295fa6" class="btn btn-primary btn-lg">Get Another Cryptocurrency</button></a>
</div>
<br>
<br>
<div class="share_buttons">
    <div class="share_button" onclick="twitterCoin()"><img src="static/share_buttons/twitter.png" width="36" height="36"></div>
    <div class="share_button" onclick="facebookCoin()"><img src="static/share_buttons/facebook.png" width="36" height="36"></div>
    <div class="share_button" onclick="instagramCoin()"><img src="static/share_buttons/instagram.png" width="36" height="36"></div>
    <div class="share_button" onclick="redditCoin()"><img src="static/share_buttons/reddit.png" width="36" height="36"></div>
    <div class="share_button" onclick="linkedinCoin()"><img src="static/share_buttons/linkedin.png" width="36" height="36"></div>
</div>

<p style="text-align: center"><b>Share your result!</b></p>

<div class="disclaimer">
    <br>
    <br>
    <br>

    <p>
        Here's a random cryptocurrency generator with a database of over 1600 traded cryptocurrencies! There's also a link for more information!
        We also included a fun quote for your amusement.
    </p>
    <p>
        <b>We do not advocate that you invest money into randomly selected securities!</b> This page was made to give people
        access to a random cryptocurrency generator, and for general entertainment.
    </p>
</div>
{% endblock %}