{% extends "base.html" %}
{% set active_page = "index" %}

{% block head %}
{% endblock %}


{% block body %}
<br xmlns="http://www.w3.org/1999/html">
<br>
<br>
<div id="result" class="result">
    Symbol <b id="symbol">{{symbol}}</b><br>
    Company Name <b id="company">{{stock}}</b><br>
    Listed On <b id="exchange"> {{exchange}}</b><br>
    <button class="stockQuoteButton" type="button" onclick="stockQuote()">Stock Quote</button>
    <br>
    <br>

    <br>
    <em>"{{stockquotefinal}}"</em><br>
    -{{quoteauthorfinal}}

</div>

<div class="mybutton">

    <button id="indexButton" style="background-color: #295fa6" class="btn btn-primary btn-lg" onclick="indexButton()">Get Another Stock</button>

</div>
<br>
<br>
<div class="share_buttons">
    <div class="share_button" id="twitter" onclick="twitter()"><img src="static/share_buttons/twitter.png" width="36" height="36"></div>
    <div class="share_button" id="facebook" onclick="facebook()"><img src="static/share_buttons/facebook.png" width="36" height="36"></div>
    <div class="share_button" id="instagram" onclick="instagram()"><img src="static/share_buttons/instagram.png" width="36" height="36"></div>
    <div class="share_button" id="reddit" onclick="reddit()"><img src="static/share_buttons/reddit.png" width="36" height="36"></div>
    <div class="share_button" id="linkedin" onclick="linkedin()"><img src="static/share_buttons/linkedin.png" width="36" height="36"></div>
</div>

<p style="text-align: center"><b>Share your result!</b></p>

<div class="disclaimer">
    <br>
    <br>
    <br>

    <p>
        Welcome to RandomStock! Whenever you visit, we will generate a random stock for you!
        The randomly generated stocks are retrieved from a large, regularly updated database (~15k) of all publicly traded stocks in the
        United States and abroad. We also included a fun quote for your amusement.
    </p>
    <p>
        <b>We do not advocate that you invest money into randomly selected securities!</b> This page was made to give
        people
        access to a random stock generator, and for general entertainment.
    </p>
</div>


{% endblock %}