{% extends "base.html" %}
{% set active_page = "pennyStocks" %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="result">
    ACT Symbol <b id="symbol">{{symbol}}</b><br>
    Company Name <b id="company">{{stock}}</b><br>
    Listed On <b> {{exchange}}</b><br>
    <a href="http://finance.yahoo.com/quote/{{symbol}}">Stock Quote</a>
    <br>
    <br>
    <br>
    <em>"{{stockquotefinal}}"</em><br>
    -{{quoteauthorfinal}}

</div>
<div class="mybutton">
    <a href="{{url_for('pennyStocks')}}"><button style="background-color: #295fa6" class="btn btn-primary btn-lg">Get Another OTC Stock</button></a>
</div>
<br>
<br>
<div class="share_buttons">
    <div class="share_button" onclick="twitter()"><img src="static/share_buttons/twitter.png" width="36" height="36"></div>
    <div class="share_button" onclick="facebook()"><img src="static/share_buttons/facebook.png" width="36" height="36"></div>
    <div class="share_button" onclick="instagram()"><img src="static/share_buttons/instagram.png" width="36" height="36"></div>
    <div class="share_button" onclick="reddit()"><img src="static/share_buttons/reddit.png" width="36" height="36"></div>
    <div class="share_button" onclick="linkedin()"><img src="static/share_buttons/linkedin.png" width="36" height="36"></div>
</div>

<div class="disclaimer">
    <br>
    <br>
    <br>

    <p>
        Here's another random stock generator with a database of all publicly traded over-the-counter stocks! You'll find a lot of penny stocks in here!
        The randomly generated OTC stocks are retrieved from a large database (~12k) of all publicly traded OTC stocks in the United States and abroad.
        We also included a fun quote for your amusement.
    </p>
    <p>
        <b>We do not advocate that you invest money into randomly selected securities!</b> This page was made to give people
        access to a random stock generator, and for general entertainment.
    </p>
</div>
{% endblock %}