{% extends "base.html" %}
{% set active_page = "pennyStocks" %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="result">
    ACT Symbol <b>{{symbol}}</b><br>
    Company Name <b>{{stock}}</b><br>
    Listed On <b> {{exchange}}</b><br>
    <a href="http://finance.yahoo.com/quote/{{symbol}}">Quote</a>
    <br>
    <br>
    <br>
    <em>"{{stockquotefinal}}"</em><br>
    -{{quoteauthorfinal}}

</div>
<div class="mybutton">
    <a href="{{url_for('pennyStocks')}}"><button style="background-color: #295fa6" class="btn btn-primary btn-lg">Get Another OTC Stock</button></a>
</div>
<br>
<br>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style my_centered_buttons">

    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_pinterest"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<div class="disclaimer">
    <br>
    <br>
    <br>

    <p>
        Here's another random stock generator with a database of all publicly traded over-the-counter stocks! You'll find a lot of penny stocks in here!
        The randomly generated OTC stocks are retrieved from a large database (~12k) of all publicly traded OTC stocks in the United States and abroad.
        We also included a fun quote for your amusement.
    </p>
    <p>
        <b>We do not advocate that you invest money into randomly selected securities!</b> This page was made to give people
        access to a random stock generator, and for general entertainment.
    </p>
</div>
{% endblock %}