{% load static %}


    <footer class="footer">
         <div class="share_buttons">
        <div class="share_button" id="twitter" onclick="twitter()"><img src="{% static 'images/twitter.png' %}"
                                                                        width="36"
                                                                        height="36"></div>
        <div class="share_button" id="facebook" onclick="facebook()"><img src="{% static 'images/facebook.png' %}"
                                                                          width="36"
                                                                          height="36"></div>
        <div class="share_button" id="instagram" onclick="instagram()"><img src="{% static 'images/instagram.png' %}"
                                                                            width="36"
                                                                            height="36"></div>
        <div class="share_button" id="reddit" onclick="reddit()"><img src="{% static 'images/reddit.png' %}" width="36"
                                                                      height="36"></div>
        <div class="share_button" id="linkedin" onclick="linkedin()"><img src="{% static 'images/linkedin.png' %}"
                                                                          width="36"
                                                                          height="36"></div>
    </div>
        <small>© Copyright 2020, RandomStock™</small>
    </footer>
